  {% extends "blogs/base.html" %}

  {% block content %}

    <p>Blog is a blog webapp. 
    It allows you to write posts about anything you're interested in.</p>

    <ul>
     {% for blogpost in blogposts %}
      <li>
        <p>{{ blogpost.text }}</p>
        <p>
          <a href="{% url 'blogs:edit_blog_post' blog_post.id %}"Edit blog post</a>
        </p>
      </li>
     {% empty %}
      <li>No blog posts have been added yet.</li>
     {% endfor %}
    </ul>

    <a href="{% url 'blogs:new_blog_post' %}">Add a new blog post</a>

  {% endblock content %}
